@import url("https://fonts.googleapis.com/css?family=Baloo+Thambi|Noto+Sans");
body {
  margin-top: 20px;
}

.cell {
  display: inline-block;
  margin: 1px;
  width: 10px;
  height: 10px;
  border: 0.25px solid gray;
  padding: 0;
}

.live {
  background-color: lightblue;
}

.dead {
  background-color: white;
}

.board {
  margin: 0 auto;
  z-index: -1;
  line-height: 0.75;
  width: 700px;
  height: 500px;
}

.controls {
  position: absolute;
  padding: 10px 22px;
  bottom: 0px;
  background-color: white;
  border-top: 1px solid gray;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.controls h1 {
  font-family: "Baloo Thambi";
  color: orange;
  margin: 0;
}
.controls h3, .controls label {
  font-family: "Noto Sans";
  margin-top: 0;
  font-size: 12px;
}
.controls button {
  margin: 0px 25px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background: orange;
  font-size: 13px;
  color: white;
}
.controls input {
  margin: 5px;
  width: 20px;
}

@media (max-width: 600px) {
  .controls {
    margin: 0 auto;
    position: inherit;
  }
}
